.ms-container {
    background-color: #3fb984;
    width: 800px;
    height: 700px;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  
  body {
    background-color: #31475e;
  }
  
  h1 {
    color: #31475e;
  }
  
  img {
    background-size: cover;
  }
  
  #alternate-triangle {
    position: relative;
    top: 40px;
    left: 1px;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
  